/* SneakerCard */
.gridCellWrapper {
  border-top-left-radius: 5px;
  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 25%;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(222, 222, 222);
  border-right: 1px solid rgb(222, 222, 222);
  border-left: 1px solid transparent;
  display: block;
  height: 22.5vw;
}

.gridCellWrapper:hover {
  border: 1px solid grey;
}

.gridCellContent {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  box-sizing: inherit;
  display: block;
}

.searchGridCell {
  cursor: pointer;
}

.productTemplateGridCell {
  padding: 15px 22px;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gridCellUpperDataRowWrapper {
  color: black;
  text-shadow: none;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 25px;
  left: 20px;
}

.releaseDateLabel {
  height: 15px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 12px;
  font-family: Plain, sans-serif;
  line-height: 16px;
  letter-spacing: 0px;
  box-sizing: inherit;
  color: black;
  text-shadow: none;
}

.releaseDateText {
  box-sizing: inherit;
}

.wishlistButton {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  display: flex;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-box-pack: center;
  justify-content: center;
  width: 56px;
  padding: 0px;
  z-index: 3;
  font-size: 12px;
  font-family: Plain, sans-serif;
  line-height: 16px;
  letter-spacing: 0px;
  box-sizing: border-box;
  font-weight: normal;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
}

.wishlistButton:hover {
  border: 1px solid black;
}

.gridCellImage {
  max-height: 50%;
  min-height: 50%;
  max-width: 60%;
  width: auto;
  object-fit: contain;
  display: block;
  box-sizing: border-box;
  user-select: none;
}

.gridCellLowerDataRowWrapper {
  height: 120px;
  width: 100%;
  box-sizing: inherit;
  display: block;
}

.gridCellBaseText {
  padding: 0px 4%;
  font-size: 12px;
  font-family: Plain, sans-serif;
  line-height: 16px;
  letter-spacing: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
  color: black;
  min-height: 32px;
  max-height: 32px;
  text-transform: none;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.priceDisplayWrapper {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 10%;
  height: 18px;
  box-sizing: inherit;
}

.priceLabel {
  font-size: 12px;
  font-family: Plain, sans-serif;
  line-height: 1.5;
  letter-spacing: 1.8px;
  text-align: center; 
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
  font-weight: normal;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.priceText {
  box-sizing: inherit;
}